.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px;
  background: linear-gradient(
    180deg,
    rgb(23.38, 23.38, 23.38) 0%,
    rgb(28.69, 28.69, 28.69) 46.5%,
    rgb(34.65, 34.65, 34.65) 77%,
    rgb(51, 51, 51) 100%
  );
  overflow: hidden;
}

.page h1 {
  color: #fff;
}
