.btn {
  padding: 10px 24px;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;

  border: none;
  border-radius: 100px;
  background: linear-gradient(180deg, #38efd9 0%, #40ff3d 100%);

  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .btn {
    padding: 8px 18px;
    font-size: 22px;
  }
}

